<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959750037880-5r8evp9162l0ehm5nraql69dar3146le.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959750037880-5r8evp9162l0ehm5nraql69dar3146le</string>
	<key>API_KEY</key>
	<string>AIzaSyDngC7exh-ZmWpMWkpQFKdZqweX5XVEG0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>959750037880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hema.sample.sample</string>
	<key>PROJECT_ID</key>
	<string>firstaidguidem</string>
	<key>STORAGE_BUCKET</key>
	<string>firstaidguidem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959750037880:ios:4987192b4a2b985ef7e88d</string>
</dict>
</plist>